doctype html
html(lang="es")
  head
    title Oops... Culpa mia!

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

  body
    | 500 - Se me han cruzado los cables!