div#structure.row.collapse
	div#inner-structure.large-12.medium-12.small-12.columns
		div.off-canvas-wrap
			div.inner-wrap
				nav.tab-bar

					section.middle.tab-bar-section
						h1.title.text-center Conversacion en tiempo real con {{ persona.nombre }}


				section.main-section
					div.row.collapse
						div.large-12.medium-12.small-12.columns
							div.text-center.panel.callout.radius
								| Anagrama: Los mejores libros y audiolibros para practicar ingles. <br />
								| Consigue 25% de descuento comprando desde este enlace: <a href="">http://anagrama.com/comprar?discount=ST,25%</a>

						table.large-12.medium-12.small-12
							thead
							tbody
								tr
									td.text-left Hola!
								tr
									td.text-right ✓ ¡Hola, ¿que tal?!
								tr
									td.text-left Bien, bien, con ganas de practicar ingles!
								tr
									td.text-right ✓ Lo mismo digo :)
								tr
									td.text-left ¿Quedamos en la plaza mayor?
								tr
									td.text-right ✓ Genial, ahi nos vemos!


					div.row.collapse
						div.small-9.large-9.columns
							input(type="text")
						div.small-3.large-3.columns
							a.postfix.button Enviar

					div.row.collapse
						div.large-12.medium-12.small-12.columns.text-center
							span.creditos Social Talking, 2014